#costumers, table,th,td {
    border-collapse: 1px solid rgb(39, 160, 55)
}
table th {
    background-color: black;
    color: white;
}

#costumers {
    border-collapse: 2px solid rgb(39, 160, 55)
}
